/*Descripción: Contiene estilos más generales del sitio web, como la paleta de colores, header y footer*/

body {
  margin: 0;
  padding: 0;
  background-color: var(--fondo-general);
}


/*PALETA DE COLORES GLOBAL*/
/*------------------------------------------------------------------------------------------------*/
:root {
  --rojo-oxido: #713f36;       /* Color principal para el header, footer y títulos principales */
  --dorado-mostaza: #e2b71b;   /* Color del logo, botones y detalles a resaltar*/
  --dorado-clasico: #C5A059;   /* Color para transición de letras */
  --fondo-general: #e2d0a9;      /* Color de fondo de toda la página web */
  --crema-fondo: #f5ecdb;      /* Color de fondo de toda la página web */
  --gris-texto: #333333;       /* color para texto normal de los parrafos*/
  --marron-texto: #473633;     /* Color para el texto normal de los párrafos */
  --beige-apoyo: #D4A373;      /* Color para fondos secundarios */
}


/* HEADER Y NAVEGACIÓN GLOBAL*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

/* Contenedor principal */
.nav_global {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3%;
  box-sizing: border-box;
  background-color: var(--rojo-oxido);
  box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
  position: sticky;
  top: 0;
  z-index: 2000;
}

/*Animación y tamaño del logo*/
.nav_global_logo img {
  transition: transform 0.3s ease;
  max-height: 100px;  
  width: auto;       
  object-fit: contain;
  display: block;    
}

.nav_global_logo img:hover {
  transform: scale(1.05); 
}

/* La lista principal */
.nav_global_links {
  align-items: center;
  list-style: none;          /*Quita decoración de lista*/
  display: flex;
  gap: 20px;                 /*Separacion entre los botones del menú*/
  margin: 0;                 
  padding: 15px 0;           
}

/* Enlaces principales */
.nav_global_links > li > a {
  color: var(--crema-fondo);
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease; 
}

.nav_global_links > li > a::after {
  content: '';
  position: absolute;
  width: 0; /* Empieza sin ancho */
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--dorado-clasico);
  transition: width 0.3s ease; /* Animación suave al crecer */
}

/* Mostrar línea y cambiar color al pasar el ratón */
.nav_global_links > li > a:hover::after {
  width: 100%;
}

/* Brilla al pasar el ratón */
.nav_global_links > li > a:hover {
  color: var(--dorado-clasico);           
}

/* Contenedor "Padre" del desplegable */
.desplegable {
  position: relative;        /*Ancla el submenú*/
}

/* Desplegable */
.desplegable_menu {
  list-style: none;      
  padding:  10px 0;
  margin: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(15px);
  display: flex;                /*Oculto por defecto*/
  position: absolute;       
  top: 100%;                
  left: 0;                  
  background-color: var(--crema-fondo); 
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);     
  min-width: 250px;         
  flex-direction: column;       
  z-index: 1000;     /*Asegura que el menú desplegable quedará por encima de cualquier otro elemento de la página */
  border-radius: 0 0 8px 8px;
  border-top: 3px solid var(--dorado-clasico);      /* Línea dorada en la parte superior del submenú */
  transition: all 0.3s ease; /* Animación de entrada */
}


/* El estilo de los sub-enlaces individuales */
.desplegable_menu li a {
  display: block;           
  padding: 12px 20px;       
  color: var(--gris-texto);
  text-decoration: none;
  font-weight: normal;
  transition: all 0.3s ease; 
}

.desplegable:hover .desplegable_menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); /* Regresa a su posición original */
}

/* Efecto al pasar el ratón sobre una opción del submenú */
.desplegable_menu li a:hover {
  background-color: rgba(0, 0, 0, 0.186); /* Fondo muy sutil, no tan pesado */
  color: var(--dorado-clasico);
  padding-left: 28px;   
}

/* Muestra el submenú al pasar el ratón */
.desplegable:hover .desplegable_menu {
  display: flex;            
}



/*FOOTER*/
/*------------------------------------------------------------------------------------*/
.footer {
  background-color: var(--rojo-oxido);
  color: var(--crema-fondo);          
  padding: 30px 5% 15px;               
  font-family: 'Nunito', sans-serif;  
}

/* Contenedor con dos columnas */
.footer_contenido {
  display: flex;
  justify-content: space-between;
  gap: 30px;                      /* Espacio de seguridad entre columnas */
  max-width: 1000px;             
  margin: 0 auto;                
  padding-bottom: 10px;           /* Espacio antes de la línea divisoria */
  border-bottom: 1px solid rgba(253, 251, 247, 0.2); /* Línea divisoria */
}

.footer_columna {
  flex: 1; /* Para que las columnas tengan el mismo ancho */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_columna img {
  margin-bottom: 10px;
  display:block;
}

/* Títulos */
.footer_columna h4 {
  font-family: 'Lora', serif; 
  text-align: center;   
  color: var(--dorado-mostaza);   
  font-size: 1.1rem;
  margin: 0 0 10px 0;             
}

/* Texto normal del footer */
.footer_columna p {
  font-size: 0.80rem;
  line-height: 1.6;
  margin: 0 0 10px 0;
  color: var(--crema-fondo);
}

/* La barra legal hasta abajo */
.footer_legal {
  text-align: center;
  padding-top: 20px;
  font-size: 0.75rem;
  opacity: 0.7;
  gap:10px;
}







/*-----------------------ADAPTACIÓN PARA DISPOSITIVOS MÓVILES (Menos de 768px)------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Oculto en pantallas grandes */
.menu_hamburguesa {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 2000;
}

.menu_hamburguesa span {
    width: 100%;
    height: 4px;
    background-color: var(--crema-fondo);
    border-radius: 2px;
}

@media (max-width: 768px) {
    
    /* Activar el botón hamburguesa */
    .menu_hamburguesa {
        display: flex;
    }

    .nav_global_links {
        position: fixed;
        top: 0;
        right: -100%;
        width: 50vw; 
        min-width: 250px;
        height: 100vh;
        background-color: var(--fondo-general);
        box-shadow: -4px 0 15px rgba(0,0,0,0.2); 
        flex-direction: column;
        justify-content: flex-start; 
        padding-top: 80px; 
        align-items: flex-start; 
        gap: 15px;
        transition: right 0.4s ease-in-out;
        z-index: 1500;
        overflow-y: auto;
    }

    /* Interacción con el JavaScript (abre el menú) */
    .nav_global_links.activo {
        right: 0;
    }

    .nav_global_links > li > a {
        color: var(--gris-texto);
        width: 100%;
        text-align: left;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }

    .nav_global_links a {
        display: block;
        font-size: 0.9rem;
        padding: 15px;
    }

     /* Efecto al pasar el cursor o tocar solo en el menú principal */
    .nav_global_links > li > a:hover,
    .nav_global_links > li > a:active {
        color: #d4af37; 
    }

   
    /* Submenús en el menú flotante */
    .nav_global_links .desplegable_menu {
        position: static;
        display: none;
        background-color: var(--crema-fondo); 
    }

    .nav_global_links .desplegable_menu a {
        padding-left: 40px; 
        font-weight: normal;
        font-size: 16px;
    }

    /* Muestra el submenú únicamente cuando JS añade la clase '.abierto' */
    .nav_global_links li.desplegable.abierto .desplegable_menu {
        display: flex;
        flex-direction: column;
    }

    /*-------------------------------FOOTER RESPONSIVO----------------------------*/
    .footer_contenido {
      flex-direction: column; 
      gap: 40px;
      text-align: center;
    }

    .footer_columna {
      width: 100%;
    }
  }



  



