body {
  margin: 0;
  padding: 0;
}

/*PALETA DE COLORES GLOBAL*/
/*--------------------------------------------------------------------------*/
:root {
  --rojo-oxido: #713f36;       /* Color principal para el header, footer y títulos principales */
  --dorado-mostaza: #e2b71b;   /* Color del logo, botones y detalles a resaltar*/
  --dorado-clasico: #C5A059;   /* Color para transición de letras */
  --crema-fondo: #FDFBF7;      /* Color de fondo de toda la página web */
  --gris-texto: #333333;       /* color para texto normal de los parrafos*/
  --marron-texto: #473633;     /* Color para el texto normal de los párrafos */
  --beige-apoyo: #D4A373;      /* Color para fondos secundarios */
  

}

/*HEADER*/
/*-----------------------------------------------------------------------------------------------*/
.header {
  display: flex;                  
  justify-content: space-between;   /* Separa las secciones equitativamente */
  align-items: center;              /* Centra los elementos verticalmente */
  padding: 1px 2%;    
  /*Fondo de header*/              
  background-image: linear-gradient(rgba(113, 63, 54, 0.4), rgba(113, 63, 54, 0.4)), url('../Multimedia/fondoheader.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header_section {
  flex: 1;         /* Distribuye el espacio en partes iguales */
  display: flex;
}

/* Alineaciones */
.logo, .informacion, .nav_links {
justify-content: center;
}

/* Animación del logo */
.header_section.logo img {
  transition: transform 0.3s ease; 
}

/* Efecto cuando el mouse pasa por encima */
.header_section.logo img:hover {
  transform: scale(1.08); /* Hace que el logo crezca un 8% */
  cursor: pointer;        
}

/* Contenedor principal */
article {
  font-family: 'Georgia', 'Times New Roman', serif; 
  text-align: center; 
  /* Límites para el ancho del texto */
  max-width: 800px;     
  margin: 30px auto;    
  padding: 0 20px;      
}

/* Estilo para el nombre de la institución*/
article h2 {
  font-size: 1.3rem;      
  color: var(--crema-fondo);     
  margin-bottom: 15px;     /* Separación con el subtítulo */
  line-height: 1.2;        /* Espaciado entre las líneas del título */
  font-weight: bold;
}

/* Estilo para la información del header*/
article h3 {
  font-size: 0.9rem;      
  color: var(--crema-fondo);     
  font-weight: normal;     
  font-style: italic;      /* Cursiva*/
  line-height: 1.3;
}




/*NAVEGACIÓN*/
/*------------------------------------------------------------------------------------*/
/* Contenedor principal */
.nav_links {
  width: 100%;
  background-color: var(--rojo-oxido);
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

/* La lista principal */
.nav_links > ul {
  color: var(--crema-fondo);
  font-weight: bold;
  list-style: none;          /*Quita decoración de lista*/
  display: flex;
  gap: 30px;                 /*Separacion entre los botones del menú*/
  margin: 0;                 
  padding: 15px 0;           
}

/* Enlaces principales */
.nav_links > ul > li > a {
  color: var(--crema-fondo);
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease; /* Transición a dorado al pasar el ratón */
}

/* Efecto Hover dorado brilla al pasar el ratón */
.nav_links > ul > li > a:hover {
  color: var(--dorado-clasico);           
}

/* Contenedor "Padre" del desplegable */
.desplegable {
  position: relative;        /*Ancla el submenú*/
}

/* Desplegable */
.desplegable_menu {
  list-style: none;      
  padding: 0;
  margin: 0;
  display: none;                /*Oculto por defecto*/
  position: absolute;       
  top: 100%;                
  left: 0;                  
  background-color: var(--crema-fondo); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);     
  min-width: 230px;         
  flex-direction: column;       
  z-index: 1000;     /*Asegura que el menú desplegable quedará por encima de cualquier otro elemento de la página */
  border-top: 3px solid var(--dorado-clasico);      /* Línea dorada en la parte superior del submenú */
}

/* El estilo de los sub-enlaces individuales */
.desplegable_menu li a {
  display: block;           
  padding: 12px 20px;       
  color: var(--gris-texto);
  text-decoration: none;
  font-weight: normal;
  transition: all 0.3s ease; 
}

/* Efecto al pasar el ratón sobre una opción del submenú */
.desplegable_menu li a:hover {
  background-color: var(--marron-texto);
  color: var(--dorado-clasico);      
}

/* Muestra el submenú al pasar el ratón */
.desplegable:hover .desplegable_menu {
  display: flex;            
}




/*CONTENIDO*/
/*------------------------------------------------------------------------------------*/
/*Caracterisiticas generales*/
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;          /*Se usa vh para un diseño responsivo que se adapte a toda la pantalla*/
  color: var(--crema-fondo);
  background-color: var(--gris-texto);
  background: linear-gradient(135deg, #713f36, #b9695a);
}

/*Espacio donde se encuestran las tarjetas*/
.escena {
  display: flex;
  justify-content: space-around;
  gap:20px;
  width: 90%;
  max-width: 1200px;
}

/*Estructura general de las tarjetas flip*/
.tarjeta {
  background-color: transparent;
  width: 330px;
  height:400px;
  perspective: 1000px;      /* Propiedad para transformaciones 3d */
  cursor: pointer;
}

.tarjeta_interior {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;    /* Propiedad para elementos tranformados 3d */
  transition: transform 0.6s ease;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.tarjeta:hover .tarjeta_interior {
  transform: rotateY(180deg);          /*Rotación de 180 grados de las tarjetas*/
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.8);
}

/*Caras de las tarjetas */
.cara_tarjeta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  backface-visibility: hidden;        /*Oculta la parte trasera del fondo*/
  overflow:hidden;                    /*Oculta las esquinas de las imágenes para que no sobresalgan*/
}

.cara_tarjeta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;                       /*Capa 0: Es el fondo de la tarjeta*/
}

/* Un filtro oscuro para que resalte el texto */
.cara_tarjeta::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Oscurece la imagen un 60% */
  z-index: 1;
}

.tarjeta:hover .cara_tarjeta_frontal {
  filter: brightness(1.5);
}

.cara_tarjeta_trasera {
  transform: rotateY(180deg);                /*Se voltea desde un inicio para que el texto quede oculto*/
}

/* El contenedor del texto que va sobre la imagen */
.contenido_texto {
  position: relative;
  z-index: 2; /* Sobre la imagen y el filtro oscuro */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  box-sizing: border-box; /* Asegura que el padding no desborde la tarjeta */
  gap: 15px;
}

/* Ajustes de tipografía para el interior de la tarjeta: Títulos */
.contenido_texto h2 {
  font-family: 'Lora', serif;
  font-weight: 600;
  margin: 0;
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

/* Ajustes de tipografía para el interior de la tarjeta: Párrafos */
.contenido_texto p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  margin: 0;
  font-size: 0.80rem; /* Letra un poco más pequeña para que quepa todo el texto */
  line-height: 1.4;
  color:#f8f9fa;
  text-wrap: balance;
}

p + p {
  margin-top: 25px; /* Solo aplica si hay un párrafo seguido de otro */
}

/*Botones y enlaces*/
.boton_tarjeta {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dorado-mostaza);
  color: var(--gris-texto);
  text-decoration: none;
  border: 2px solid var(--dorado-mostaza);
  border-radius: 25px;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;
}

/*Animación de los botones*/
.boton_tarjeta:hover {
  background-color: var(--crema-fondo);
  transform: translateY(-2px);
}

/* Estilo para el link de la cara trasera */
.enlace_trasero {
  margin-top: 15px;
  color: #ffcc00;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}



/*FOOTER*/
/*------------------------------------------------------------------------------------*/
.footer {
  background-color: var(--rojo-oxido);
  color: var(--crema-fondo);          
  padding: 30px 5% 15px;               
  font-family: 'Nunito', sans-serif;  
}

/* Contenedor con dos columnas */
.footer_contenido {
  display: flex;
  justify-content: space-between;
  gap: 30px;                      /* Espacio de seguridad entre columnas */
  max-width: 1000px;             
  margin: 0 auto;                
  padding-bottom: 10px;           /* Espacio antes de la línea divisoria */
  border-bottom: 1px solid rgba(253, 251, 247, 0.2); /* Línea divisoria */
}

.footer_columna {
  flex: 1; /* Para que las columnas tengan el mismo ancho */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_columna img {
  margin-bottom: 10px;
  display:block;
}

/* Títulos */
.footer_columna h4 {
  font-family: 'Lora', serif; 
  text-align: center;   
  color: var(--dorado-mostaza);   
  font-size: 1rem;
  margin: 0 0 10px 0;             
}

/* Texto normal del footer */
.footer_columna p {
  font-size: 0.8rem;
  line-height: 1.6;
  margin: 0 0 10px 0;
  color: var(--crema-fondo);
}

/* La barra legal hasta abajo */
.footer_legal {
  text-align: center;
  padding-top: 20px;
  font-size: 0.7rem;
  opacity: 0.7;
  gap:10px;
}